/tests              export-ignore
.git*               export-ignore
composer.lock       export-ignore
phpstan.neon        export-ignore
build.xml           export-ignore
.scrutinizer.yml    export-ignore
/RELEASE_NOTES      export-ignore
phpcs.xml           export-ignore
.editorconfig       export-ignore
