includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Variable method call on \$this\(Nexendrie\\BookComponent\\BookControl\)#'
    universalObjectCratesClasses:
        - Nette\Bridges\ApplicationLatte\Template
