application:
    scanDirs: false
services:
    testbench.presenterMock: Testbench\Mocks\PresenterMock
    - Nexendrie\BookComponent\Authenticator
    - Nexendrie\BookComponent\Authorizator
    - Nexendrie\BookComponent\ConditionCallback
    - Nexendrie\BookComponent\ConditionPermission
    - Nexendrie\BookComponent\ConditionUserInRole
    - Nexendrie\BookComponent\ConditionUserLoggedIn
extensions:
    translation: Nexendrie\Translation\Bridges\NetteDI\TranslationExtension
translation:
    default: en
    localeResolver: manual
    loader:
        name: catalogue
        folders!:
            - %appDir%/../src/lang
