application:
    scanDirs: false
    mapping:
        *: Nexendrie\BookComponent\*Presenter
routing:
    routes:
        "<presenter>[/<action>]": "Home:default"
services:
    - Nexendrie\BookComponent\Authenticator
    - Nexendrie\BookComponent\Authorizator
    - Nexendrie\BookComponent\ConditionCallback
    - Nexendrie\BookComponent\ConditionPermission
    - Nexendrie\BookComponent\ConditionUserInRole
    - Nexendrie\BookComponent\ConditionUserLoggedIn
extensions:
    translation: Nexendrie\Translation\Bridges\NetteDI\TranslationExtension
translation:
    default: en
    localeResolver: manual
    loader:
        name: catalogue
        folders!:
            - %appDir%/../src/lang
mytester:
    colors: true
    coverageFormat: cobertura
