  <h1>{_"book.content"}</h1>
  <ol id="bookPages">
    {foreach $pages->getAllowedItems() as $page}
    <li><a href="{plink "{$presenterName}:", page => $page->slug}">{$page->title}</a></li>
    {/foreach}
  </ol>
