  <h1>{$current->title}</h1>
  {include "$folder/{$current->slug}.latte"}
  <p id="helpNavigation">{if $index>0}<a href="{plink "{$presenterName}:", page => $pages[$index-1]->slug}"><< Předchozí</a>{/if} <a href="{plink "{$presenterName}:"}">Index</a> {if $index<count($pages)-1}<a href="{plink "{$presenterName}:", page => $pages[$index+1]->slug}">Následující >></a>{/if}</p>
  