  <h1>Obsah</h1>
  <ol id="helpPages">
    <li><a href="plink|Test:(page=slug1)">title1</a></li>
    <li><a href="plink|Test:(page=slug2)">title2</a></li>
    <li><a href="plink|Test:(page=slug3)">title3</a></li>
  </ol>
